{% extends 'base.html' %}

{% block content %}
<style>
    .weather-icon {
        width: 85px; /* Adjust the size as needed */
    }

    .card-text {
        height: 28px; /* Adjust the max height as needed */
        
    }

    .card {
        height: 670px;
    }
</style>

{% if city_error %}
<div class="container text-center mx-auto mt-5">
    <h4 class="text-danger">{{ city_error}}</h4>
</div>

{% else %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card p-3 text-center" >
                <div class="row g-0">
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <img src="{{ city_info_days.icon_2 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ city_info_days.date_1 }}</h4>
                            <hr>
                            <h6 class="card-text">{{ city_info.name }} | {{ city_info.country }}</h6> 
                            <div class="container text-center">
                                <h6 class="card-text">{{ city_info_days.avg_temp_1 }} C° | {{ city_info_days.text_1 }}</h6>
                                <p class="card-text">Min: {{ city_info_days.min_temp_1}} C° | Max: {{ city_info_days.max_temp_1}} C°</p> 
                                <p class="card-text">Humidity: {{ city_info_days.avghumidity_1}}%</p> 
                                <p class="card-text">Chance of rain: {{ city_info_days.rain_chance_1}}%</p> 
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@03:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature00 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text00 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon00 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@12:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature01 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text01 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon01 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@21:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature02 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text02 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon02 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary " style="font-style: italic;">Last update  at {{ city_info.last_update }}</small></p>

                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card p-3 text-center" >
                <div class="row g-0">
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <img src="{{ city_info_days.icon_2 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ city_info_days.date_2 }}</h4>
                            <hr>
                            <h6 class="card-text">{{ city_info.name }} | {{ city_info.country }}</h6> 
                            <div class="container text-center">
                                <h6 class="card-text">{{ city_info_days.avg_temp_2 }} C° | {{ city_info_days.text_2 }}</h6>
                                <p class="card-text">Min: {{ city_info_days.min_temp_2}} C° | Max: {{ city_info_days.max_temp_2}} C°</p> 
                                <p class="card-text">Humidity: {{ city_info_days.avghumidity_2}}%</p> 
                                <p class="card-text">Chance of rain: {{ city_info_days.rain_chance_2}}%</p> 
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@03:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature10 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text10 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon10 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@12:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature11 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text11 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon11 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@21:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature12 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text12 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon12 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary " style="font-style: italic;">Last update  at {{ city_info.last_update }}</small></p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card p-3 text-center" ">
                <div class="row g-0">
                    <div class="col-md-3 d-flex justify-content-center align-items-center">
                        <img src="{{ city_info_days.icon_2 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body text-center">
                            <h4 class="card-title">{{ city_info_days.date_3 }}</h4>
                            <hr>
                            <h6 class="card-text">{{ city_info.name }} | {{ city_info.country }}</h6> 
                            <div class="container text-center">
                                <h6 class="card-text">{{ city_info_days.avg_temp_3}} C° | {{ city_info_days.text_3 }}</h6>
                                <p class="card-text">Min: {{ city_info_days.min_temp_3}} C° | Max: {{ city_info_days.max_temp_3}} C°</p> 
                                <p class="card-text">Humidity: {{ city_info_days.avghumidity_3}}%</p> 
                                <p class="card-text">Chance of rain: {{ city_info_days.rain_chance_3}}%</p> 
                            </div>
                        </div>
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@03:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature20 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text20 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon20 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@12:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature21 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text21 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon21 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>

                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <div class="card-body text-center">
                            <h5 class="card-title">@21:00</h5>
                        </div>
                    </div>
                    
                    <div class="col-md-4 text-center d-flex align-items-center">
                        <div class="card-body text-center d-flex flex-column">
                            <h6 class="card-title">{{ city_info_hours.temperature22 }} C°</h6>
                            <h6 class="card-text">{{ city_info_hours.text22 }}</h6>
                        </div>
                    </div>
                    <div class="col-md-4 d-flex align-items-center justify-content-center">
                        <img src="{{ city_info_hours.icon22 }}" class="img-fluid rounded-start weather-icon" alt="Weather Icon">
                    </div>
                    <hr>
                    <p class="card-text"><small class="text-body-secondary " style="font-style: italic;">Last update  at {{ city_info.last_update }}</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}
