{% extends 'base.html' %}
{% load static %}


{% block content %}
{% if user.is_authenticated %}
        <h2 style="padding: 10px;">Welcome {{user.username}}!</h2>

{% else %}
  <div class="container mx-auto text-center" style="margin: 100px; width: 50%;" >
      <main class="form-signin w-100 m-auto">
          <form method="POST" action="{% url 'login' %}" >

            {% csrf_token %}
            
            <h1 class="h3 mb-3 fw-normal">Log in</h1>
            <div class="form-floating" style="margin: 10px;">
              <input type="text" class="form-control" id="floatingInput" name="username">
              <label for="floatingInput">Username</label>
            </div>

            <div class="form-floating" style="margin: 10px;">
              <input type="password" class="form-control" id="floatingPassword" name="password" >
              <label for="floatingPassword">Password</label>
            </div>
            <input type="submit" class="submit form-control bg-primary text-white" value="Log in">
            
            
          </form>
        </main>
  </div>
{% endif%}

{% endblock %}
